{% url 'login' as login %}
{% url 'register' as register %}
{% url 'users_crud:index' as index%}

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <button type="button" name="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navb">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div id ="navb" class="navbar-collapse collapse hide">
    
       
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
                <li class="nav-item "> 
                    <a class="nav-link" href="{{index}}">Gestionar Usuarios
                        <span class="fas fa-location-arrow"></span>
                    </a>
            {% endif %}
        </ul>
        <ul class="nav navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="navbar-item ">
                    <a href="{% url 'logout'%}" class="nav-link">
                        <span class="fas fa-sign-in-alt"></span>
                        Logout</a>
                </li>
            {% else %}
                <li class="navbar-item {% if request.path == login %}active{% endif %}">
                    <a href="{% url 'login' %}" class="nav-link">
                        <span class="fas fa-user"></span>
                        Login</a>
                </li>
                
                <li class="navbar-item {% if request.path == register %}active{% endif %}">
                    <a href="{% url 'register' %}" class="nav-link">
                        <span class="fas fa-user-plus"></span>
                        Registro</a>
                </li>
            {% endif %}
            
        </ul>

    </div>

</nav>